# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# translations
/tmp
/src/translations/locales/en.json
/translations-todo.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.tern-port

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
/notes.md

/cypress/fixtures/accounts.json
/cypress/archive
/cypress/examples
/cypress/screenshots
/cypress/videos
/src/stores/fixtures.*
